
*{
    box-sizing: border-box;
    
}

body {
    
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h3{
    font-weight: bolder;
}
.forecast{
    
    font-size: 0.9em;
}
span{
    font-size: 1em;
}
li:hover{
    background-color: rgb(80, 130, 181);
    text-decoration: underline;
}