
*{
    box-sizing: border-box;
   
    
}

body {
    

    font-size: 18px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
h3{
    font-weight: bolder;
}
.forecast{
    
    font-size: 0.9em;
}
span{
    font-size: 1em;
}
li:hover{

    
    background-color: rgb(76, 82, 90);

    text-decoration: underline;
}

 body {
    /* background-image: url('https://images.unsplash.com/photo-1503264116251-35a269479413?auto=format&fit=crop&w=1350&q=80'); */
    background-image: url('https://imgs.search.brave.com/bNOmVTgitk75F-JYB2gp5fuwZSWGdnbXVzMIbCS3Oek/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvZmVhdHVy/ZWQvd29ybGQtZ2xv/YmUtdHlqcnNuZWhk/bmJ6ZXkwdi5qcGc');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(249, 248, 250);
    min-height: 100vh;
}

/* Optional overlay for readability */
body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 90%;
    background: rgba(0, 0, 0, 0.4); /* slightly darkens background */
    z-index: -1;
}

.col-sm-2{
    /* margin-left: 30px ; */
    padding-left: 30px;
    margin-right: 10px;
}
